<script lang="ts">
  export let isButtonClicked;

  function toggleStateOfButton() {
    isButtonClicked = !isButtonClicked;
  }
</script>

<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
  <button
    type="button"
    class="inline-flex items-center
          justify-center rounded-md p-2
          text-gray-400"
          aria-controls="mobile-menu"
          aria-expanded={isButtonClicked}
    on:click={toggleStateOfButton}
  >
    <span class="sr-only">Open main menu</span>
    {#if isButtonClicked}
      <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    {:else}
      <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    {/if}
  </button>
</div>