<script lang="ts">
  export let logo;
  export let menuLists;
</script>

<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
  <a
    href="https://winkjs.org/"
    class="flex flex-shrink-0
          items-center"
  >
    <img
      class="h-8 w-8"
      src={logo}
      alt="winkNLP"
    >
  </a>
  <div class="hidden sm:ml-6 sm:block
              right-0 absolute"
  >
    <div class="flex space-x-4">
      {#each menuLists as { title, link }}
        <a href={link}
          class="text-black
                hover:bg-gray-500
                hover:text-black
                dark:text-white
                dark:hover:text-white
                rounded-md
                px-3 py-2 text-sm
                font-medium"
        >
          {title}
        </a>
      {/each}
    </div>
  </div>
</div>
