<script lang="ts">
  import { slide } from 'svelte/transition';

  export let menuLists;
  export let isButtonClicked;
</script>

{#if isButtonClicked}
<div
  transition:slide
  class="sm:hidden"
  id="mobile-menu"
>
  <div class="space-y-1 px-2 pb-3 pt-2">
    {#each menuLists as { title, link }}
      <a href={link}
        class="text-black
              hover:bg-gray-500
              hover:text-white
              dark:text-white
              dark:hover:text-black
              block rounded-md
              px-3 py-2 text-base
              font-medium"
      >
        {title}
      </a>
    {/each}
  </div>
</div>
{/if}