<script lang="ts">
  import { getHighlightedText } from "../lib/getHighlightedText";
  import Table from "./Table.svelte";
  import TextBox from "./TextBox.svelte";

  let inputText = localStorage.getItem("inputText") || '';
  $: generatedOutput = getGeneratedText(inputText);

  function getGeneratedText(inputText) {
    let { generatedText, grammarLogs } = getHighlightedText(inputText);

    if (/[^\s]/.test(inputText)) {
      const terminalWhiteSpace = inputText.split(inputText.trim());
      generatedText = [
                        terminalWhiteSpace[0],
                        generatedText,
                        terminalWhiteSpace[1]
                      ].join('');
    } else {
      generatedText = inputText;
    }
    return { generatedText, grammarLogs };
  }
</script>

<div
  class="bg-white dark:bg-black
        h-full flex flex-1 flex-col"
>
  <div class="relative p-6">
    <div 
      class="mx-auto max-w-2xl
              sm:pt-4"
    >
      <div class="text-center">
        <h1 class="text-xl font-bold
                  tracking-tight text-black
                  dark:text-white sm:text-3xl"
        >
          Grammar checks,<br>done in an instant.
        </h1>
        <p class="mt-2 text-sm
                  text-black
                  dark:text-white
                  sm:text-md"
        >
          Don't believe it? See it for yourself!
        </p>
      </div>
    </div>
    <div 
      class="md:mt-8 md:flex
              md:flex-column
              md:justify-evenly"
    >
      <TextBox
        bind:inputText={inputText}
        generatedText={generatedOutput.generatedText}
      />
      <Table grammarLogs={generatedOutput.grammarLogs} />
    </div>
  </div>
</div>