<script lang="ts">
	import { GithubAltBrand, GithubBrand, SquareTwitterBrand, TwitterBrand }   from "svelte-awesome-icons";
</script>

<footer class="mt-auto bg-white dark:bg-black">
  <div class="mx-auto max-w-7wl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex space-x-4">
          <a class="p-2" href="https://github.com/winkjs">
				    <GithubBrand class="text-black dark:text-white" />
          </a>
          <a class="p-2" href="https://twitter.com/winkjs_org/">
            <TwitterBrand class="text-black dark:text-white" />
          </a>
        </div>
			</div>
    </div>
  </div>
</footer>
