<script lang="ts">
  import MobileMenu from "./NavBar/MobileMenu.svelte";
  import MobileMenuButton from "./NavBar/Ribbon/MobileMenuButton.svelte";
  import NavBarBody from "./NavBar/Ribbon/NavBarBody.svelte";
  import logo from "../assets/logo.svg";

  let menuLists = [
    { title: "Packages", link: "https://winkjs.org/packages" },
    { title: "Examples", link: "https://winkjs.org/examples" },
    { title: "Blog", link: "https://winkjs.org/blog" },
    { title: "About", link: "https://winkjs.org/about" }
  ];
  let isButtonClicked = false;
</script>

<nav class="bg-white dark:bg-black">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <MobileMenuButton bind:isButtonClicked />
      <NavBarBody {logo} {menuLists} />
    </div>
  </div>
  <MobileMenu {menuLists} bind:isButtonClicked />
</nav>
