<script lang="ts">
	export let grammarLogs;
</script>

<table
  class="mt-4 md:mt-0 text-black dark:text-white
        table-auto sm:table-fixed md:w-4/12"
>
  <thead>
    <tr>
      <th class="text-left">Grammar rules</th>
      <th class="text-right w-min">Violations</th>
    </tr>
  </thead>
  <tbody>
    {#each Object.entries(grammarLogs) as [rule, log]}
      <tr>
        <td class="text-left">
          <span id={rule} class="text-inherit">{log.description}</span>
        </td>
        <td class="text-right">{log.count}</td>
      </tr>
    {/each}
  </tbody>
</table>
