<script lang="ts">
  import { onMount } from "svelte";

  const config = {
    attributes: true,
    childList: true,
    subtree: true,
    characterData: true
  };
  
  const setTextAreaHeight = new MutationObserver(() => { 
    textAreaElement.style.height = `${highlightElement.scrollHeight}px`;
  })
    
  let highlightElement: HTMLDivElement;
  let textAreaElement: HTMLTextAreaElement;

  export let inputText: string;
  export let generatedText: string;

  function handleInput() {
    localStorage.setItem("inputText", inputText);
  }

  function highlightElementAction(node: HTMLElement) {
    setTextAreaHeight.observe(node, config);
  }

  onMount(() => {
    textAreaElement.style.height = `${highlightElement.scrollHeight}px`;
  })
  
</script>

<div
  class="outline outline-2 outline-black
        dark:outline-white mt-4 md:mt-0 flex
        flex-column h-40 md:h-auto items-stretch relative
        overflow-y-scroll rounded-md md:w-7/12"
>
  <div
    class="absolute w-full min-h-full -z-1
          whitespace-pre-wrap break-words
          overflow-y-visible text-black
          dark:text-white overflow-x-hidden
          p-3 after:content-['_']"
    bind:this={highlightElement}
    use:highlightElementAction
  >
    {@html generatedText}
  </div>
  <textarea
    class="absolute w-full min-h-full
          z-1 whitespace-pre-wrap p-3
          break-words text-transparent
          bg-transparent resize-none
          caret-black dark:caret-white
          outline-none overflow-y-hidden
          overflow-x-hidden"
    spellcheck="false"
    bind:value={inputText}
    on:input={handleInput}
    bind:this={textAreaElement}
  />
</div>
