@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full;
}

#app {
  @apply flex;
  @apply flex-col;
  @apply min-h-screen;
  @apply max-h-fit;
}

span#checkIncorrectPunctuationSpacing {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #fe0000;
}

span#checkIncorrectContractions {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #3f4c96;
}

span#checkFirstWordOfSentence {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #f037a5;
}

span#checkUseOfAdverbs {
  background-color: #f6d167;
}

span#checkUseOfLongSentence {
  background-color: #4dccbd;
}

span#checkUseOfVeryLongSentence {
  background-color: #8f96fc;
}

span#checkDuplicateWordsInASentence {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #71b405;
}

span#avoidAbusiveWords {
  background-color: #f34213;
}

span#useConsistentSpellings {
  background-color: #ffd35ba2;
}

span#avoidConstructs {
  background-color: #ffbaba;
}

span#highlightInterjectionsWithoutPunctuations {
  background-color: #b1a694;
}

span#highlightWordiness {
  background-color: #b4846c;
}

span#highlightUseOfOxymoron {
  background-color: #f7f06c;
}

span#avoidStartingWithConjunctions {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #645dd7;
}
  
span#useConsistentApostrophe {
  background-color: #a59b89;
}

span#avoidRedundantConstruct {
  background-color: #b9ff68;
}
