<script type="ts">
  import NavBar from "./components/NavBar.svelte";
  import Body from "./components/Body.svelte";
  import Footer from "./components/Footer.svelte";
  import logo from './assets/logo.svg';
</script>

<svelte:head>
  <link rel="icon" type="image/svg+xml" href={logo} />
</svelte:head>

<NavBar />
<Body />
<Footer />